@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Course

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName)</h3>


  <h4>Students enrolled in the course:</h4>
  <ul>
  @foreach(StudentCourse join in Model.JoinEntities)
  {
    <li>@join.Student.StudentName</li>
    @using (Html.BeginForm("DeleteJoin", "Courses"))
    {
      @Html.Hidden("joinId", @join.StudentCourseId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>


<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add an Student", "AddStudent", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>